$fonts:arial, helvetica, sans-serif;
$dark: black;
$light: white;
$medium:#ededed;
$red:#F71414;
$font-xxxl: 4.8rem;
$font-xxl: 4rem;
$font-xl: 3.6rem;
$font-l: 2rem;
$font-m: 1.8rem;
$font-s:1.2rem;
$font-xs: 1rem;
$font-xxs: 0.8rem;
$font-xxxs: 0.6rem;
$transition: background-color 0.8s ease-out 0s;