/* header*/
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 5vw;
  }
  .header-logo {
    width: 118px;
  }
  .header-claim {
    display: none;
  }
  .header-button {
    border: solid 1px black;
    border-radius: 50%;
    padding: 10px 18px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 900;
    font-family: arial, helvetica, sans-serif;
    cursor: pointer;
  }
  .logo:hover {
    background-color: black;
    color: white;
    transition: background-color 0.8s ease-out 0s;
  }
  
  /* main content */
  .opinions {
    background-image: url("../assets/burger.png");
    background-repeat: no-repeat;
    background-size: 730px;
    background-position: 0 20%;
    margin-bottom: 100px;
    /* opiniones*/
    /* card */
  }
  .opinions-title {
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 0.8em;
    font-weight: 700;
    padding: 2vh 30vw 7vh 5vw;
  }
  .articles {
    margin: 3vh;
    display: grid;
    gap: 15px 15px;
  }
  .customer-card {
    background-color: white;
    border-radius: 20px;
    padding: 30px 25px;
    box-shadow: 5px 7px 11px 0px rgba(0, 0, 0, 0.3);
  }
  .customer-card--featured {
    background-color: #F71414;
    color: white;
    background-image: url("../assets/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-size: 110px;
    background-position: 75% 0px;
  }
  .customer-card--featured .user-title {
    color: white;
    opacity: 0.7;
  }
  .customer-card--featured .card-text {
    color: white;
    opacity: 0.7;
  }
  .customer-card--black {
    background-color: black;
    color: white;
  }
  .customer-card--black .user-title {
    color: white;
    opacity: 0.7;
  }
  .customer-card--black .card-text {
    color: white;
    opacity: 0.7;
  }
  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: start;
    margin-bottom: 1rem;
  }
  .customer-pic {
    border-radius: 100%;
    border: 1px solid white;
    max-width: 30px;
    margin-right: 10px;
  }
  .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }
  .content-name {
    font-size: 1rem;
    font-weight: 900;
  }
  .user-title {
    font-size: 0.8rem;
    font-weight: 500;
    color: black;
    opacity: 0.7;
  }
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .card-text-2 {
    font-size: 0.8rem;
    line-height: 1rem;
    color: black;
    opacity: 0.7;
  }
  
  /* footer */
  .footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
    min-height: 50px;
  }
  .footer a {
    color: black;
    margin-bottom: 10px;
  }
  .footer a:hover {
    background-color: black;
    color: white;
    transition: background-color 0.8s ease-out 0s;
  }
  .link-list-1 {
    font-weight: 900;
    margin-bottom: 30px;
  }
  .list-link-2 a {
    opacity: 0.7;
    font-size: 0.8rem;
  }
  .footer-link {
    display: block;
  }
  
  @media screen and (min-width: 768px) {
    /* header 768+ */
    .logo {
      padding: 6vh 3vw;
    }
    /* main content 768+ */
    .opinions {
      background-position: 0 30%;
      margin-bottom: 60px;
    }
    .opinions-title {
      font-size: 3.6rem;
      padding: 0vh 3vw 4vh 3vw;
    }
  }
  @media screen and (min-width: 1024px) {
    /* MAIN CONTENT 1024+ */
    .opinions {
      padding-bottom: 40px;
      background-position: 0 50%;
      margin-bottom: 0;
      /* SECTION 1024+ */
    }
    .opinions-title {
      font-size: 4.8rem;
    }
    .articles {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "card-1 card-1 card-2" "card-3 card-4 card-4" "card-5 card-5 card-5";
    }
    /* cards 1024+ */
    .user-title {
        color:green;
    }
    .card-text{
        color: beige;
    }
    .card-1 {
      grid-area: card-1;
      background-color: red;
      color: white;
    }
    .card-2 {
      grid-area: card-2;
      background-color: black;
      color:white;
    }
    .card-3 {
        grid-area: card-3;
        background-color: white;
      }
    .card-4 {
      grid-area: card-4;
      background-color: black;
      color: white;
    }
    .card-5 {
        grid-area: card-5;
        background-color: white;
      }
   
    /* FOOTER 1024+ */
    .footer {
      flex-direction: row;
      padding: 0 2vw;
    }
    .flink-list-1 {
      font-size: 0.8rem;
      min-width: 350px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0;
    }
    .link-list-2 {
      min-width: 200px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .link-list-2 a {
      opacity: 0.5;
      font-size: 0.6rem;
    }
  }
  @media screen and (min-width: 1480px) {
    .logo {
      padding: 4vh 2vw;
    }
    .header-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 800;
      text-align: right;
      gap: 20px;
    }
    .header-claim {
      display: inline-block;
      width: 220px;
      font-size: 0.6rem;
    }
    .opinions {
      background-position: 0px 80%;
      background-size: 700px;
      /* SECTION 1480+ */
    }
    .opinions-title {
      font-size: 4rem;
      padding: 1vh 25vw 6vh 3vw;
      max-width: 60%;
    }
    .articles {
      margin: auto;
      max-width: 70%;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "card-1 card-1 card-2 card-5" "card-3 card-4 card-4 card-5";
    }
  }
  body {
    background-color: #ededed;
    margin: 0;
    font-family: arial, helvetica, sans-serif;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
  }
  
  h1, h2, h3, h4, h5, h6, div, span, p {
    margin: 0;
    padding: 0;
    border: 0;
  }